/.idea
/1月6日春节假期作业-Python.py
/2.gif
/2022 pie char.png
/aapl.csv
/addfile
/aikeras.py
/appledata.py
/data
/dataprocessing.py
/datat.ipynb
/face_00.py
/face_1.py
/face_2.py
/face_3.py
/gray_IMG.jpg
/gui process.py
/house.xlsx
/htmldata.xls
/img1.jfif
/jupyter mark
/Machine learning.py
/movie.db
/moviedatatext.py
/movies.dat
/newwebspider.py
/pdtexts.py
/ratings.dat
/spider.py
/spider2.py
/spider3.py
/spidertext
/spidertext.py
/text_spider.py
/tiku.py
/tmooc class
/translationnew.py
/users.dat
/webhtmlo.html
/webhtmls.html
/webspider.py
/yuandanwork.py
/__pycache__